$light-green: #a8e05f;
$green: #87c13c;
$dark-green: #607631;

$light-yellow: #fdd64b;
$yellow: #efbe1d;
$dark-yellow: #8c6c1d;

$light-orange: #ff9b57;
$orange: #f27e2f;
$dark-orange: #974a20;

$light-red: #fe6a69;
$red: #e84b50;
$dark-red: #942431;

$light-purple: #ff54f9;
$purple: #d844d4;
$dark-purple: #9a3296;
